<section class="container">
  <header>Qual livro você procura?</header>
  <div class="busca">
    <input
      type="search"
      [formControl]="campoBusca"
    >
    <button>
      <img src="assets/imagens/icone-busca.png" alt="Lupa de cor roxa">
    </button>
  </div>
  <p>Procure por assunto autoria ou nome...</p>
  <div class="resultados mensagem-erro" *ngIf="mensagemErro">
    {{ mensagemErro }}
  </div>
  <div
    class="resultados"
    *ngIf="livrosEncontrados$ | async ">
      {{ livrosResultado.totalItems}} resultados encontrados
  </div>
  <div
    class="container-card"
    *ngIf="livrosEncontrados$ | async as listaLivros">
    <div *ngFor="let livro of listaLivros">
      <app-livro [livro]="livro"></app-livro>
    </div>
  </div>
